@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: darkred">Welcome to CinemaApp</h1>
    <h3 class="display-6" style="color:gray">Domashna rabota po predmetot Integrirani Sistemi 201030</h3>
    <img src="https://open-stand.org/wp-content/uploads/2016/04/International-Union-of-Cinemas-Calls-for-Open-Standards-in-the-Cinema-Industry.jpg" width="750" height="400" alt="Cinema Image" />
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
