

<div class="container">
    <h1 class="m-4">Import Users</h1>

    

        <form asp-action="ImportUsers" asp-controller="User" method="post" enctype="multipart/form-data">
            <div class="registerdiv">
                <div class="form-group col-12">
                    <input type="file" name="file" class="form-control" />
                </div>

                <br />

                <div class="form-group">
                    <div class="col-12 btn-submit">
                        <button type="submit" class="btn btn-outline-success w-100">Import Excel File</button>
                    </div>
                </div>
            </div>
        </form>
     

   
</div>