
<div class="container">
    <h3 class="mb-3">Congratulations, you have successfully created an account.</h3>
    <a class="btn btn-success" asp-action="Login" asp-controller="Account">Click here to Log into your new account.</a>
</div>